/*Base Style fo all elements*/

*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}


/* stiler för elements <body>*/
body{
    width: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #01110c;
    font-family: fantasy;
    font-size: larger;
    
    
}


/* stil för navbar*/
.navbar{
    width: 100%;
    font-size: x-small;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: #330404f0;

}

.link-group{
    list-style: none;
    display: flex;
    
}

.link a{
    display: flex;
    color: #fff;
    opacity: 0.4;
    padding: 5px 15px;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 2em;
    
}
.navbar a {
    font-size: 20px;
  }
  
  /* storlek för mobiltelefoner */
  @media (max-width: 768px) {
    .navbar a {
      font-size: 12px; 
    }
  }
/* stilar för länkar hover*/
.link a:hover, .link.active a{
    opacity: 1;
}

/*HOME Section*/
.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 5s;
   
   
}

.home-heading{
    
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
   
}
@media (max-width: 768px) {
    .home-heading {
      font-size: 20px; 
    }
  }

.home-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    size-adjust: 100% ;
    transition: 10s;
    
}
footer {
    justify-content: center;
    display: flex;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    font-size: 1em;
    background-color: #330404f0; 
    text-align: center; 
    
}
footer p {
    font-size: 16px;
}



/*kontakt del*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% высоты видимого экрана */
    background-color: #f0f0f0; /* Цвет фона */
}


/* stil (iframe) */
.map-frame {
    width: 70%; 
    height: 60%; 
    border: 2px solid #ccc;
    border-radius: 10px; 
}

/*Projekt del*/

.project-section{

    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    opacity: 0.8;
}

.project-heading{
    
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent; /* Tjocklek och färg på kanten */
}
      
/* storlek för mobiltelefoner */
@media (max-width: 768px) {
  .project-heading {
    font-size: 10px; 
  }
}

.project-container{

    display: grid;
    grid-template-columns: auto;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 10s;
    position: absolute;
    
    size-adjust: 100% ;
   
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}

.project-title{
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.project-btn{

    height: 40px;
    text-transform: capitalize;
    font-size: 20px;
    border: none;
    color: #fff;
    cursor: grab;
    text-align: center;
}


.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}


/*Jag del*/

.jag-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
   
    opacity: 0.9;
}

.jag-heading{
    
   
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent; /* Tjocklek och färg på kanten */
}
      
/* storlek för mobiltelefoner */
@media (max-width: 768px) {
  .jag-heading {
    font-size: 10px; 
  }
}



.jag-container{

    display: grid;

    grid-template-columns: auto;
}

.jag-card{
    height: 400px;
    position: relative;
}

.jag-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 10s;
    position: absolute;
    size-adjust: 100% ;
   
}

.jag-content{
    position: relative;
    padding: 40px;
    color: bisque;
    transition: 0.5s;
    opacity: 0;
   
}

.jag-info{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    


}

.jag-card:hover .jag-img{
    filter: blur(20px);
}

.jag-card:hover .jag-content{
    opacity: 1;
}

